html,
body {
  width: 100%;
  height: 100%;
  /* SAFARI SCROLL LATERAL */
  position: relative;
  overflow-x: hidden;
}

/* GRID */
.grid-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 1em;
  position: relative;
  overflow-x: hidden;
  cursor: default;
}

/* CURSOR */
/* .cursor {
  cursor: url(img/0.svg), auto;
}
.right-bar:hover {
  cursor: url(img/0.svg), auto;
} */

/* LEFT BAR */
.left-bar {
  margin: 0;
  border: 2px solid black;
  grid-column: 1;
  grid-row: 1/7;
}

.left-bar p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;

  position: fixed;
  transform-origin: bottom left;
  bottom: 0%;
  transform: rotate(270deg);
  margin-left: 3.2%;
  z-index: 1;
}

#location {
  font-weight: 400;
}

/* RIGHT BAR */
.right-bar {
  margin: 0;
  border: 2px solid black;
  grid-column: 16;
  grid-row: 1/7;
}

#red {
  width: 20px;
  position: fixed;
  right: 96.7%;
  margin-top: 15px;
  z-index: 1;
}

#grey {
  width: 20px;
  position: fixed;
  right: 96.7%;
  margin-top: 45px;
  z-index: 1;
}

#blue {
  width: 20px;
  position: fixed;
  right: 96.7%;
  margin-top: 75px;
  z-index: 1;
}

#home {
  width: 20px;
  /* left: 35%; */
  grid-column: 16;
  padding-left: 1.65%;
  padding-right: 1.65%;
  padding-bottom: 1.65%;
  padding-top: 15px;
  position: fixed;
}

#info {
  width: 20px;
  position: fixed;
  left: 95.65%;
  grid-column: 16;
  margin-bottom: 20px;
  bottom: 0%;
}

/* TEXT HOMEPAGE */
.text-home {
  padding-top: 30.5px;
  font-size: 70px;
  grid-column: 3 / 15;
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.15;
  font-weight: 400;
}

/* TITLE = AUTUMN SEASON */
#text-home-title {
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-style: italic; */
  font-weight: 600;
}

#text-home-title-asterisco {
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-style: italic; */
  font-weight: 400;
}

/* TEXT RESEARCH SMALL */
.text2-home {
  margin: 0;
  grid-column: 3 / 15;
  grid-row: 2;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.35;
}

.question {
  font-size: 21px;
  grid-column: 3 / 15;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.15;
  font-weight: 400;
}

/* TEXT ASTERISCO */
.text3-home {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-column: 9 / 15;
  grid-row: 5;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.30;
  z-index: 2;
}

.text3-home-symbol {
  margin: 0;
  padding-top: 28.5px;
  grid-column: 8;
  grid-row: 5;
  text-align: right;
  padding-bottom: 100px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.20;
  z-index: 2;
}

/* .line1 {
  grid-row: 0;
  grid-column: 1 / 17;
  border-top: 2px solid black;
  z-index: 1;
} */

/* LINES */
.line {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column: 1 / 17;
  border: 2px solid black;
  background-color: white;
  z-index: 1;
}

.line-thanks {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column: 1 / 17;
  border: 2px solid black;
  background-color: white;
  z-index: 1;
}

/* TEXT THANKS PAGE */
.text-thanks {
  padding-top: 54px;
  font-size: 45px;
  grid-column: 3 / 9;
  font-family: 'IBM Plex Serif', sans-serif;
  line-height: 1.15;
  font-weight: 400;
}

/* TEXT THANKS RINGRAZIAMENTI*/
.text2-thanks {
  margin: 0;
  padding-top: 30px;
  grid-column: 9 / 15;
  grid-row: 4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.30;
  z-index: 1;
}

.text2-thanks-references {
  margin: 0;
  padding-bottom: 30px;
  grid-column: 9 / 15;
  grid-row: 5;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.30;
  z-index: 1;
}

.text2-home-symbol {
  margin: 0;
  grid-column: 8;
  grid-row: 5;
  text-align: right;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.20;
  z-index: 2;
}

/* WEATHER DATA */
.current {
  grid-column: 2/6;
  grid-row: 3;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

.current-symbol {
  grid-column: 3;
  grid-row: 3;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

/* VISUAL */
li {
  font-family: sans-serif;
  list-style: none;
  position: relative;
}

li:before {
  content: '';
  width: 18px;
  height: 18px;
  background: red;
  position: absolute;
  /* right: 111.65%; */
  right: 111.55%;
  top: 35%;
  transform: translate(0, -50%);
  border-radius: 100%;
}

#temp:before {
  background-color: rgb(255, 0, 0);
}

#hum:before {
  background-color: rgb(200, 200, 200);
}

#prep:before {
  background-color: rgb(0, 255, 255);
}

/* .data {
  margin-top: 40px;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: sticky;
  grid-column: 4/16;
  grid-row: 3;
  line-height: 1.5;
  z-index: -1;
} */

.data-names {
  margin-top: 40px;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: sticky;
  grid-column: 3/16;
  grid-row: 3;
  line-height: 1.5;
  z-index: 0;
}

#time {
  padding-top: 145px;
  grid-column: 3/5;
  grid-row: 3;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

#canvas-show {
  /* margin-top: 10%;
  margin-bottom: 10%; */

  grid-column: 1 / 16;
  grid-row: 3;
  z-index: -2;

  /* display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto */
}

.forecastday {
  grid-column: 2/6;
  grid-row: 4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

.forecastday-symbol {
  grid-column: 3/6;
  grid-row: 4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

.forecastday-value {
  margin-top: 40px;
  margin-bottom: 70px;
  line-height: 1.5;
  grid-column: 3/8;
  grid-row: 4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: sticky;
}

/* FOOTER */
footer {
  grid-column: 2/10;
  text-align: left;
  grid-row: 6;
  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  z-index: 2;
}

a {
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:hover {
  border-bottom-color: transparent;
}

/* a:hover {
  background-color: rgb(255, 208, 0);
} */